<%- include('partials/header') -%>

    <h2>Home</h2>
    <p><%= contenidoInicio %></p>

    <% homePosts.forEach((homePosts) => {%> 
        <div>
            <h3> <%= homePosts.nTitulo %> </h3>
            <p> <%= homePosts.nPost.substring(0,100) + '...' %> <a href="/post/<%=homePosts.nTitulo%> ">Leer más</a> </p>
        </div>

    <% }); %>

<%- include('partials/footer') -%>
